*$py.class
build/
data/
dist/
.DS_Store
*.egg-info/
.eggs/
*.env
.env
!.env.example
.env.local
*.log
.mypy_cache/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.streamlit/secrets.toml
.venv/
venv/
